.schedules {
  justify-content: center;
}

.title {
  margin-right: 7rem;
  & h3 {
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }

  & p {
    color: #98959d;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

.date {
  margin-left: 3.5rem;
  margin-top: 1rem;
}

input[type="date"] {
  border-color: #98959d;
  border-radius: 0.5rem;
  background-color: #151515;
  padding: 8px;
  font-size: 16px;
  color: #98959d;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(../assets/Icon.svg);
}

input[type="date"] {
  position: relative;
  background: url(../assets/Calendar-Minimalistic--Streamline-Solar.png)
    no-repeat left 8px center;
  padding-left: 40px;
  margin: auto;
}

.appointment-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #23242c;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 1rem;
  width: 68%;
  margin-left: auto;
  margin-right: auto;
}

.appointment-time {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 2rem;
  border-bottom: 1px solid #353339;
  padding-bottom: 0.5rem;

  & .time-range {
    margin-left: 0.5rem;
  }
}

.appointment-time .exact-time {
  margin-left: auto;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  align-items: center;
}

.appointment-time .period {
  font-size: 16px;
  color: white;
}

.appointment-time .time-range {
  font-size: 14px;
  color: #98959d;
}

.appointment-time .time-range {
  margin-left: auto;
}

.appointment-details .exact-time {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: white;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.appointment-details {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.appointment-details .person {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 12rem;

  & span {
    font-size: 12px;
    color: #98959d;
  }
}

.appointment-details .description {
  font-size: 14px;
  color: #98959d;
  margin-right: 15rem;
}

.remove-btn {
  margin-bottom: 1rem;
  background: none;
  border: none;
  & img {
    width: 2rem;
  }
}

.remove-btn:hover {
  transform: scale(1.3);
}
